
#documentation-navigation {
  width: 20%;
  height: calc(100% - 10vw);
  top: 15vw;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#documentation-navigation a {
  font-family: "Lato-Regular";
  padding: .2em 0 .2em 2vw;
  cursor: pointer;
}
#documentation-navigation #documentation-menu-back {
  font-family: "Lato-Light";
}

/* active item in secondary color */
#documentation-navigation .active {
  color: #FFC0FE !important;
}

/* underline active item */
#documentation-navigation .active:after {
  content: "";
  overflow: hidden;
  width: 100%;
  display: block;
  border-top: solid;
}

#documentation-navigation .doc-submenu {
  margin-left: 1em;
  font-family: "Lato-Light";
  font-size: .9em;
}
