
.doc-page, .doc-footer {
  display: none;
}

#documentation-content {
  width: 70%;
  height: 100%;
  top: 0;
  left: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 3% 1%;
  border-left: solid #FFC0FE;
  padding-left: 1em;
  text-align: justify;
}
#documentation-content a {
  text-decoration: underline;
}
#documentation-content table {
  padding: 20px;
}
#documentation-content table td,th {
  padding: 5px;
  text-align: center;
}
#documentation-content img {
  max-width: 100%;
}

.doc-footer {
  font-size: .8em;
  padding: 2em 1em 0;
  font-style: italic;
  text-align: right;
}
