@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2iznua');
  src:  url('fonts/icomoon.eot?2iznua#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2iznua') format('truetype'),
    url('fonts/icomoon.woff?2iznua') format('woff'),
    url('fonts/icomoon.svg?2iznua#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dato:before {
  content: "\e94c";
}
.icon-user-circle-o:before {
  content: "\e94b";
}
.icon-line-chart:before {
  content: "\e947";
}
.icon-area-chart:before {
  content: "\e948";
}
.icon-gitlab:before {
  content: "\e93b";
}
.icon-user:before {
  content: "\e949";
}
.icon-user-solid-circle:before {
  content: "\e94a";
}
.icon-bar-graph:before {
  content: "\e946";
}
.icon-stats-bars:before {
  content: "\e941";
}
.icon-stats-dots:before {
  content: "\e942";
}
.icon-pie-chart:before {
  content: "\e943";
}
.icon-camera2:before {
  content: "\e944";
}
.icon-info:before {
  content: "\e93c";
}
.icon-cloudy:before {
  content: "\e900";
}
.icon-cloud1:before {
  content: "\e901";
}
.icon-cloudy1:before {
  content: "\e902";
}
.icon-cloud2:before {
  content: "\e903";
}
.icon-snowy:before {
  content: "\e904";
}
.icon-weather:before {
  content: "\e905";
}
.icon-lightning:before {
  content: "\e906";
}
.icon-thermometer:before {
  content: "\e907";
}
.icon-images:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e912";
}
.icon-film3:before {
  content: "\e913";
}
.icon-file-empty:before {
  content: "\e93a";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-calculator1:before {
  content: "\e940";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-wikipedia:before {
  content: "\eac8";
}
.icon-info1:before {
  content: "\e93f";
}
.icon-information:before {
  content: "\e93d";
}
.icon-information1:before {
  content: "\e93e";
}
.icon-document:before {
  content: "\e920";
}
.icon-document1:before {
  content: "\e921";
}
.icon-document-text:before {
  content: "\e922";
}
.icon-document-text1:before {
  content: "\e923";
}
.icon-document-text2:before {
  content: "\e924";
}
.icon-document-text3:before {
  content: "\e925";
}
.icon-document-diagrams:before {
  content: "\e928";
}
.icon-document-diagrams1:before {
  content: "\e929";
}
.icon-document-table:before {
  content: "\e92a";
}
.icon-document-table1:before {
  content: "\e92b";
}
.icon-document-graph:before {
  content: "\e92c";
}
.icon-document-graph1:before {
  content: "\e92d";
}
.icon-document-code:before {
  content: "\e92e";
}
.icon-document-code1:before {
  content: "\e92f";
}
.icon-folder1:before {
  content: "\e930";
}
.icon-folder2:before {
  content: "\e931";
}
.icon-umbrella:before {
  content: "\e932";
}
.icon-umbrella1:before {
  content: "\e933";
}
.icon-compass:before {
  content: "\e934";
}
.icon-compass1:before {
  content: "\e935";
}
.icon-file:before {
  content: "\e936";
}
.icon-file2:before {
  content: "\e937";
}
.icon-camera:before {
  content: "\e908";
}
.icon-camera1:before {
  content: "\e909";
}
.icon-cog:before {
  content: "\e90a";
}
.icon-cogs:before {
  content: "\e90b";
}
.icon-cog1:before {
  content: "\e90c";
}
.icon-picture:before {
  content: "\e90d";
}
.icon-pictures:before {
  content: "\e90f";
}
.icon-pictures1:before {
  content: "\e910";
}
.icon-cassette:before {
  content: "\e911";
}
.icon-cloud:before {
  content: "\e914";
}
.icon-folder:before {
  content: "\e915";
}
.icon-phone1:before {
  content: "\e916";
}
.icon-spaceinvaders:before {
  content: "\e917";
}
.icon-comments:before {
  content: "\e918";
}
.icon-addressbook:before {
  content: "\e938";
}
.icon-addressbook1:before {
  content: "\e939";
}
.icon-envelope:before {
  content: "\e919";
}
.icon-envelope1:before {
  content: "\e91a";
}
.icon-bike:before {
  content: "\e91b";
}
.icon-paperplane:before {
  content: "\e91c";
}
.icon-rocket:before {
  content: "\e91d";
}
.icon-cone:before {
  content: "\e91e";
}
.icon-navigation:before {
  content: "\e91f";
}
