
@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Light'), url(/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'), url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Bold'), url(/fonts/Lato/Lato-Bold.ttf);
}
