
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0;
  background-color: #cde;
  font-family: "Lato-Light", sans-serif;
  color: #08f;
  overflow: hidden;
}

a:link {
	color: #08f;
	text-decoration: none;
}
a:visited { color: #08f; }
a:hover {
  color: #FFC0FE !important;
  transition: color 0.2s ease-in-out;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-size: 1em;
}

.hidden {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out !important;
}

.small {
  font-size: .6em;
}

.untranslated {
  color: #088 !important;
}

.fade-in {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}


/* MAIN LAYOUT */

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  position: relative;
  flex-grow: 1;
}

#banner {
  font-size: 0.8em;
  width: 100%;
  padding: 0.7em;
  background-image: linear-gradient(45deg, #000 25%, #FF0 25%, #FF0 50%, #000 50%, #000 75%, #FF0 75%, #FF0);
  background-size: 50px 50px;
  display: none;
  border-top: black 20px solid;
}
#banner.active {
  display: block;
}

#banner-text {
  font-family: "Lato-Bold";
  background-color: #FF0;
  color: black;
  text-align: center;
  padding: 0.3em;
}
