
/*
 * Profile button
 */

#profile {
  position: absolute;
  font-size: 30px;
  padding: 10px;
  padding: 5px;
  margin: 0 5px;
  top: 18px;
  right: 10px;
  width: 40px;
  cursor: pointer;
  z-index: 10;
}

/*
 * Language switching
 */

#language-switch {
  position: absolute;
  font-size: 20px;
  padding: 10px;
  padding: 5px;
  margin: 0 5px;
  top: 18px;
  right: 60px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

/*list display toggle*/
#language-switch #list {
  display: none;
  text-align: center;
}
#language-switch:hover > #list { display: block }
#language-switch #list a {
  display: block
}
