
/*
 * SVG formatting
 */

div#footer svg {
  position: absolute;
  bottom: 0;
  /*pointer-events: none;*/
}

div#side svg {
  position: fixed;
  /*pointer-events: none;*/
}

.twinkle {
  fill: #08f;
  transition: fill 2s ease-in-out;
  pointer-events: auto;
}

.twinkle:hover {
  fill: #ffc0ff;
  transition: fill 0.2s ease-in-out;
}

/* correct mushroom color to match background */
#path5348, #path5322 { fill: #cde !important; }


/*
 * Submenus
 */

 /*#submenus {
   background-color: red;
 }*/

#submenus div {
  display: none;
  position: absolute;
  text-align: right;

  right: 20%;
  bottom: 10vw;
}

#submenus div a {
  display: block;
  font-family: 'Lato-Bold', sans-serif;
  font-size: 150%;
  /*color: #F0F;*/
  /*text-decoration: line-through;*/
}

#submenus div a:hover {
  text-decoration: none;
}

#perso {
  left: 50% !important;
  bottom: 5vw !important;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  z-index: 12;
}
