

/*
    APPS
*/

#apps, #descriptions {
  /*width: fit-content;*/
  margin: 0 auto;
  width: 90%;
  left: 5%;
  /*width: 50%;*/
  height: calc(100% - 18vw);
  top: 4vw;
  position: absolute;
  padding: 0 5vw;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

/*#apps {
  z-index: 10;
}*/

ul#apps li {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  position: absolute;
  margin: -4px;
  padding: 15px;
  padding-bottom: -20px;
}

ul#apps li a {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 60px;
}

ul#apps li a.smaller {
  font-size: 50px;
}

/*
    DESCRIPTIONS
*/

#descriptions, #hello {
  pointer-events: none;
}

div#descriptions > div {
  position: absolute;
  margin-top: -10000px;
  /*margin-left: 10px;*/
  text-align: center;
  opacity: 0;
  font-size: 150%;
  transition: opacity 0.2s ease-in-out;
  width: 90%;
  /*color: black;*/
}

div#descriptions > div.active {
  /*margin-top: 50px;*/
  margin-top: 0;
  opacity: 1;
  top: 40%;
}

div#hello {
  position: absolute;
  top: 40vh;
  left: 0;
  font-size: 15vh;
  text-align: center;
  width: 100%;
  opacity: 0.4;
  transition: opacity 1s ease-in-out;
  line-height: 0.5;
  color: #08f;
  /*color: rgba(0,0,0,0.2);*/
}

div#hello span {
  padding-left: 20%;
  font-size: 15%;
}

/*
    RTC
*/

#rtc {
  position: absolute;
  font-size: 7vw;
  left: -0.15em;
  top: 30vh;
  clip-path: inset(0 0 0 0.31em);
}
