

/* CATS */

#game-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.cat-container {
  position: absolute;
}
.game-cat {
  height: 80px;
}


/* CURSOR */

body.gaming {
  /*cursor: url("images/game/mouse.gif"),url("images/game/mouse.svg"),auto;*/
  /*cursor: url("../images/game/mouse-small.gif"),auto;*/
  cursor: none;
}
#cursor {
  /*color: #FFC0FE;*/
  color: #08f;
  position: absolute;
  font-size: 50px;
}
#cursor img {
  width: 50px;
  height: 50px;
}


/* NEW IMAGE */

#new {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
#new-image {
  /*transition: opacity 90ms ease-in-out;*/
  width: 100%;
  height: 100%;
  background-image: url("../images/game/new.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#new-image:hover {
  background-image: url("../images/game/new-hover.png");
}
